<div class="row">
    <div class="col">
        <div class="horizontal-card-container">
            <mat-card class="horizontal-card" *ngFor="let data of cardData ">
                <div class="data-and-icon">
                    <div class="percentage-data">{{data.value}}%</div>
                    <mat-icon class="card-icon">image</mat-icon>
                </div>
                <div class="card-content">
                  <h3>{{data.header}}</h3>
                </div>
                <p>Lorem ipsum is simple dummy</p>
            </mat-card>
        </div>
    </div>
</div>


